.banner-homepage {
    background-image: url('../img/uaHKzJq.jpg');
    top: 0; right: 0; left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10em;
}


.hero-image {
    display: flex;
    justify-content: center;
}

.hero-btn {
    position: relative;
    font-size: 2em;
    background-color: var(--carbon);
    color : var(--white);
}

#container-carousel {

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    /* padding-top: 3em; */
    padding: 3em;

    /* padding-left: 5%;
    padding-right: 5%; */
    background: transparent;
}

.navButton {
    background: inherit;
    font-size: 3em;
    display: none;
}

.slider-homepage {
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: url('../img/slider_background_img.jpg');
}

#slideShow {
    height: 250px;
    width: 250px;  
    border-radius: 5px;
    background-color: #eb9100;
    background-position: 50%;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
}

#slideShow:hover {
    transform: scale(1.2);
}

#slideLeft {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(5deg);
    transform-origin: top right;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideLeft:hover {
    transform: scale(1.2);
}

#slideRight {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(-5deg);
    transform-origin: top left;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #slideRight:hover {
    opacity: 1;
  }

  #linkSlide { 
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
  }


  @media (max-width:900px) {

    .banner-homepage {
        padding: 7em;
    }
    
    .hero-btn {
        font-size: 1em;
    } 
  }