
/* GENERAL */

:root {
    --medium-green : #2C5B1C;
    --black : #1D1D1F;
    --white : #F5F5F7;
    --purple : #2C1E53;
    --blue : #232C7A;
    --gold : #79602F;
    --carbon : #2F2D28;
    --light-carbon : #3b3832;
    --cream : #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition:all .2s linear;
}

*::selection {
    background: var(--medium-green);
    color: var(--cream);
}

html {
    overflow-x: hidden;
}

a {
    color: inherit;
}

body, html {
    margin: 0;
    padding: 0;
}

header {
    top: 0; right: 0; left: 0;
    background: url('https://i.pinimg.com/originals/94/23/57/942357cf7926b71d9e8d627c316a854c.jpg');
    background-position : center 80%;
    background-repeat: repeat;
    background-size: cover;
    padding : 2rem 9%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    box-sizing: border-box;
    background-color: var(--light-carbon);
}
main {
    box-sizing: border-box;

    padding-bottom: 10em;
    position: relative;

    background-color: var(--light-carbon);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3.2em;
}

h3 {
    font-size: 2.9em;
}

h4 {
    font-size: 2.6em;
}

h5 {
    font-size: 2.3em;
}

p {
    font-size: 2em;
}

/* FOOTER */

#footerDiv {
    font-size: 2ex;
    text-align: center;
    background: var(--gold);

    z-index: 300;
    bottom: 0px;
    right: 0px; left: 0px;
    padding-top: 1ex;
}

.footerIcon {
    height: 3ex;
}

.footerLogo {
    height: 4ex;
    width: auto;
    mix-blend-mode: multiply;
}

.copyrights .references {
    font-size: 0.5em;
}
/* NAVBAR */

.navbar {
    display: flex;
    font-size: 2em;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
}

.hamburger {
    font-size: 1.5em;
    display: none;
}

a {
    font-size: 1em;
}

.navbar svg{
    font-size: 1.5em;
    align-items:center;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar img {
    height: 5em;
    width: auto;
    mix-blend-mode: multiply;
}

.navbar ul li {
    padding-left: .5em;
}

.navbar li a {
    font-size: 3ex;
    display: block;
    /* background-color: var(--carbon);
    color: var(--white);
    border-radius: 5px; */
    padding: 0.2em;
}

.subMenuList {
    display: none;
    position: relative;
    z-index: 100000;
}

.subStyle {
    display: inline-block;
    border-radius: 25px;
    background-color: var(--carbon);
    /* padding: 0.5ex; */
    color: var(--cream);
}

.subMenu:hover .subMenuList{
    position: absolute;
    display: block;
    z-index: 1000;
}

/* MEDIA QUERY FOR NAVBAR*/

@media (max-width: 900px) {

    .navbar {
        font-size: 1.5em;
    }

    .navbar .panier svg, .hamburger{
        font-size: 1em;
    }

    .subStyle {
        border-radius: 25px;
        background-color: var(--cream);
        color: var(--carbon);
    }

    .subMenu:hover .subMenuList{
        position: relative;
    }

    .navbar .hamburger {
        display: initial;
    }

    .navbar img {
        height: 3em;
        width: auto;
    }

    .navbar .menuList {
        background-color: var(--white);
        padding: 3ex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top: 12ex; right: 0; left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navbar .menuList.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navbar .subMenuList a{
        font-size: 1em;
    }
    .subMenuList.active {
        display: block;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.8em;
    }
    
    h3 {
        font-size: 1.6em;
    }
    
    h4 {
        font-size: 1.4em;
    }
    
    h5 {
        font-size: 1.3em;
    }
    
    p {
        font-size: 1.1em;
    }
}